<div class="container-fluid">

    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Rider App</h1>
        </div>
        <div class="col-10  d-flex justify-content-end mt-5">
            <button class="btn btn-light" (click)="logout()">Log out</button>
        </div>
        <div class="col-5 offset-2 mt-5" style="height: 300px;">
            <google-map *ngIf="apiLoaded | async" [options]="options">
                <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions; index as i"
                    [position]="markerPosition" [options]="markerOptions"
                    (mapClick)="openInfoWindow(i,marker)"></map-marker>
                <map-info-window>{{infoWindowText}}</map-info-window>
            </google-map>
        </div>
        <div class="col-3 mt-5">
            <div class="row">
                <div class="col-12">
                    <h3>Request a Ride</h3>
                </div>
                <div class="col-12 mt-2">
                    <input #fromLocationInput type="text" class="form-control" placeholder="From">
                </div>
                <div class="col-12 mt-2">
                    <input #toLocationInput type="text" class="form-control" placeholder="To">
                </div>
                <div class="col-12 mt-2">
                    <button (click)="request()" class="btn btn-primary">Request</button>
                </div>
            </div>
            <div class="col-12 mt-5" *ngIf="driverMatch">
                <div *ngIf="driverMatch.stage.toString()==='MATCH'">
                    Requesting
                    {{driverMatch.driverLocation.user.firstName}}&nbsp;{{driverMatch.driverLocation.user.lastName}}...
                </div>
                <div *ngIf="driverResponse===true">ACCEPTED</div>
                <div *ngIf="driverResponse===false">REJECTED</div>
                <div *ngIf="driverMatch.stage.toString()==='DRIVER_NOT_FOUND'">Driver Not Found. Try again</div>
            </div>
            <div class="col-12 mt-5" *ngIf="matchedDriver">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{matchedDriver.user.firstName}}&nbsp;{{matchedDriver.user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{matchedDriver.user.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{matchedDriver.user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>License Number</td>
                            <td>{{matchedDriver.user.driver!.licenseNumber}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Make</td>
                            <td>{{matchedDriver.user.driver!.vehicleMake}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Model</td>
                            <td>{{matchedDriver.user.driver!.vehicleModel}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Cc</td>
                            <td>{{matchedDriver.user.driver!.vehicleCc}}</td>
                        </tr>
                        <tr>
                            <td>Yom</td>
                            <td>{{matchedDriver.user.driver!.yom}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Color</td>
                            <td>{{matchedDriver.user.driver!.vehicleColor}}</td>
                        </tr>
                        <tr>
                            <td>Profile Picture</td>
                            <td>{{matchedDriver.user.profilePicture}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Image</td>
                            <td>{{matchedDriver.user.driver?.vehicleImage}}</td>
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <td>{{matchedDriver.lat}}</td>
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <td>{{matchedDriver.lng}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>