<div class="container-fluid">
    <div class="row mt-5">
        <h1 class="text-center">Driver App</h1>
    </div>
    <div class="row">
        <div class="col-9 d-flex justify-content-end">
            <button class="btn btn-light" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-2 mt-5" style="height: 300px;">
            <google-map *ngIf="apiLoaded | async" [options]="options">
                <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
                <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                    [directions]="directionsResults"></map-directions-renderer>
            </google-map>
        </div>
        <div class="col-5 mt-5">
            <button (click)="update()" class="btn btn-primary">Update Location</button>
        </div>
    </div>
</div>