<div class="container-fluid">
    <div class="row" style="margin-top: 12%;">
        <div class="col-4 offset-4 border rounded bg-light">
            <div class="row mt-3">
                <div class="col-12 mb-3">
                    <h4>Register</h4>
                </div>
                <div class="col-6 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control"
                        [(ngModel)]="rider.firstName" />
                </div>
                <div class="col-6 mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control"
                        [(ngModel)]="rider.lastName" />
                </div>
                <div class="col-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="rider.email" />
                </div>
                <div class="col-6 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        [(ngModel)]="rider.password" />
                </div>
                <div class="col-6 mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                        [(ngModel)]="rider.phoneNumber" />
                </div>
                <div class="col-12 d-flex justify-content-end mb-3">
                    <button (click)="register()" class="btn btn-primary">Register</button>
                </div>
                <div class="col-12 mb-3">
                    <button routerLink="/login" class="btn btn-link">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>